/* https://teachablemachine.withgoogle.com/models/X4s88GDc3/ */

body
{
 color : white;
 background-color: rgba(228, 167, 127, 0.932);
}

#heading
{
    width : 80%;
    font-size: 32px;
}

#camera
{
    border : 2px - solid rgb(255, 255, 255);
    width : 350px;
    height: 300px;
}

#obj_result , #obj_accuracy
{
    color :rgb(0, 0, 0);
}